@media screen and (max-width: 1150px) {
    #header h1 {
        font-size: 34px;
    }
}

@media screen and (max-width: 1093px) {
    #header h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1031px) {
    #header h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 985px) {
    #header h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 924px) {
    #header h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 872px) {
    #header h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 816px) {
    #header h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -80%;
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -80%;
	}

	.row-offcanvas-right.active {
		right: 83.6%;
	}

	.row-offcanvas-left.active {
		left: 80%;
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 80%;
	}

	#sidebar {
		padding-top:0;
	}
	
	.navbar-toggle {
		position: absolute;
        right: 2%;
	}
	
	.navbar-toggle.active {
		right: -2%;
	}
    
    body, html {
        margin-right: 1px;
    }
    
    .leaflet-control.more-munis {
        margin-right: 28px;
    }
    
    #header h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 480px) {
    div.about-link {
        padding-right: 0px;
    }

    #search-text {
        width: 81%;
    }
    
    #header h1 {
        font-size: 25px;
        margin-top: 5px;
    }
    
    p.status {
        margin-right: 0px;
    }
    
    .plan-date-normal {
        display: none;
    }
    
    .plan-date-text {
        display: block;
     }
}
