
/*      
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}
*/

body{
    background:url('lil_fiber.png') repeat; 
    /* data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQIW2OMq7zlw4ADMIIkF7WrbcEmP+gkAarWGgXyq5CNAAAAAElFTkSuQmCC */
}

@font-face {
    font-family: 'Alef';
    src: url('font/Alef-bold.eot');
    src: url('font/Alef-bold.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-bold.woff') format('woff'),
         url('font/Alef-bold.ttf') format('truetype'),
         url('font/Alef-bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Alef';
    src: url('font/Alef-regular.eot');
    src: url('font/Alef-regular.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-regular.woff') format('woff'),
         url('font/Alef-regular.ttf') format('truetype'),
         url('font/Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}