body, html {
    height: 100%;
    margin-right: 15px;
}

#map {
    height: 100%;
}

.ot-main {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#info-div {
    height: 100%;
    overflow-y:scroll;
}

#open-info-modal {
    margin-bottom: 0px;
    margin-top: 5px;
}

body{
    background:url('lil_fiber.png') repeat;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Alef';
    src: url('font/Alef-bold.eot');
    src: url('font/Alef-bold.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-bold.woff') format('woff'),
         url('font/Alef-bold.ttf') format('truetype'),
         url('font/Alef-bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('font/Alef-regular.eot');
    src: url('font/Alef-regular.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-regular.woff') format('woff'),
         url('font/Alef-regular.ttf') format('truetype'),
         url('font/Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#scrobber {
    vertical-align: baseline;
    display: none;
}

#right-bar {
    font-family: Alef;
    direction: rtl;

  }
.align-right {
    text-align: right;
}

a:hover{
    text-decoration: none;
}

a[rel="tooltip"]{
    color: #000;
    margin-left: 3px;
}

h1 {
    text-align: center;
}

#share_icons{
    margin-top: 5px;
}

#share_icons a{
    margin-left: 10px;
    color: #999;
}

#twitter-link, #fb-link, #rss-link, #notifier-link, #forum-link{
    display: none;
}

#jump-to {
    padding-right: 0px;
    padding-left: 0px;
}

#jump-to-title-prefix {
    padding-left: 0px;
    width: initial;
}

#jump-to-menu {
    background: none;
    border: none;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

#jump-to-menu:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.muni-marker {
    font-size: 1vw;
    background-color: rgba(238, 238, 238, 0.7);
    color: #333;
    border: solid 1px rgba(0, 0, 0, .5);
    padding: 5px 10px;
    white-space:nowrap;
    border-radius: 8px;
    text-align: center;
}

.row {
    margin-left: 0;
}

.navbar-toggle {
	position: fixed;
	z-index: 999;
	width: 10%;
	background-color: white;
	padding: 0 0;
}

.tooltip-inner {
    white-space:pre-wrap;
}

span.status {
    padding-left: 3px;
    padding-right: 3px;
}

p.status {
    margin-right: 10px;
}

.plan-date-normal {
    display: block;
}

.plan-date-text {
    display: none;
}

#search-text {
    width: 84%;
}

.container-fluid .ot-main {
    font-family: 'Alef';
    font-size: 14px;
    padding: 8px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    direction: rtl;
    line-height: 1.5em;

}

.select2-dropdown {
  color: #0078A8;
  background: rgba(255,255,255,0.8);
  line-height: 1.5em;
  font-size: 14px;
}


#selected-plan {
    background-color: #ffb;
}

#selected-plan>div {
    margin-right: 1px;
}

#search-plan-suggestions a {
  padding: 5px
}

div.about-link {
    padding-right: 5px;
    padding-left: 5px;
}

@media screen and (max-width: 480px) {
    .leaflet-control-attribution {
        padding-right: 15px;
    }
}
