body, html {
    height: 100%;
}

#map {
    height: 100%;
}

.ot-main {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#info-div {
    height: 100%;
    overflow-y:scroll;
}

body{
    background:url('lil_fiber.png') repeat;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Alef';
    src: url('font/Alef-bold.eot');
    src: url('font/Alef-bold.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-bold.woff') format('woff'),
         url('font/Alef-bold.ttf') format('truetype'),
         url('font/Alef-bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('font/Alef-regular.eot');
    src: url('font/Alef-regular.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-regular.woff') format('woff'),
         url('font/Alef-regular.ttf') format('truetype'),
         url('font/Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#scrobber {
    vertical-align: baseline;
    display: none;
}

#right-bar {
    font-family: Alef;
    direction: rtl;
}

.align-right {
    text-align: right;
}

a:hover{
    text-decoration: none;
}

a[rel="tooltip"]{
    color: #000;
    margin-left: 3px;
}

h1 {
    text-align: center;
}

#share_icons{
    margin-top: 5px;
}

#share_icons a{
    margin-left: 10px;
    color: #999;
}

.row {
    margin-left: 0;
}

.navbar-toggle {
	position: fixed;
	z-index: 999;
	width: 10%;
	background-color: white;
	padding: 0 0;
}

@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -80%;
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -80%;
	}

	.row-offcanvas-right.active {
		right: 83.6%;
	}

	.row-offcanvas-left.active {
		left: 80%;
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 80%;
	}

	#sidebar {
		padding-top:0;
	}
	
	.navbar-toggle {
		right: 0%;
	}
	
	.navbar-toggle.active {
		right: 80%;
	}
}
