body, html {
    height: 100%;
    margin-right: 15px;
}

#map {
    height: 100%;
}

.ot-main {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#info-div {
    height: 100%;
    overflow-y:scroll;
}

#open-info-modal {
    margin-bottom: 0px;
    margin-top: 5px;
}

body{
    background:url('lil_fiber.png') repeat;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Alef';
    src: url('font/Alef-bold.eot');
    src: url('font/Alef-bold.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-bold.woff') format('woff'),
         url('font/Alef-bold.ttf') format('truetype'),
         url('font/Alef-bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Alef';
    src: url('font/Alef-regular.eot');
    src: url('font/Alef-regular.eot?#iefix') format('embedded-opentype'),
         url('font/Alef-regular.woff') format('woff'),
         url('font/Alef-regular.ttf') format('truetype'),
         url('font/Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#scrobber {
    vertical-align: baseline;
    display: none;
}

#right-bar {
    font-family: Alef;
    direction: rtl;
}

.align-right {
    text-align: right;
}

a:hover{
    text-decoration: none;
}

a[rel="tooltip"]{
    color: #000;
    margin-left: 3px;
}

h1 {
    text-align: center;
}

#share_icons{
    margin-top: 5px;
}

#share_icons a{
    margin-left: 10px;
    color: #999;
}

#twitter-link, #fb-link, #rss-link {
    visibility: hidden;
}

#jump-to {
    padding-right: 0px;
}

#jump-to-title-prefix {
    padding-left: 0px;
    width: initial;
}

#jump-to-menu {
    background: none;
    border: none;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

#jump-to-menu:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.muni-marker {
    font-size: 20px;
    background-color: #eee;
    color: #333;
    border: solid 3px rgba(0, 0, 0, .5);
    padding: 5px 10px;
    white-space:nowrap;
    border-radius: 8px;
}

.row {
    margin-left: 0;
}

.navbar-toggle {
	position: fixed;
	z-index: 999;
	width: 10%;
	background-color: white;
	padding: 0 0;
}

.tooltip-inner {
    white-space:pre-wrap;
}

span.status {
    padding-left: 3px;
    padding-right: 3px;
}

p.status {
    margin-right: 10px;
}

#search-text {
    width: 84%;
}

.more-munis {
    font-family: 'Alef';
    font-size: 14px;
    padding: 8px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: right;
    direction: rtl;
    line-height: 1.5em;
    
}

.more-munis h4 {
    margin: 0;
    color: #777;
    cursor: pointer;
}

#selected-plan {
    background-color: #ffb;
}

#selected-plan>div {
    margin-right: 1px;
}

@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -80%;
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -80%;
	}

	.row-offcanvas-right.active {
		right: 83.6%;
	}

	.row-offcanvas-left.active {
		left: 80%;
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 80%;
	}

	#sidebar {
		padding-top:0;
	}
	
	.navbar-toggle {
		right: 0%;
	}
	
	.navbar-toggle.active {
		right: 80%;
	}
    
    body, html {
        margin-right: 1px;
    }
    
    .leaflet-control.more-munis {
        margin-right: 28px;
    }
}

@media screen and (max-width: 480px) {
    div.about-link {
        padding-right: 0px;
    }

    #search-text {
        width: 81%;
    }
    
    h1 {
        font-size: 25px;
        margin-top: 5px;
    }
    
    #jump-to {
        margin-top: 5px;
    }
    
    p.status {
        margin-right: 0px;
    }
    
    .plan-date {
        float: right !important;
        width: 150% !important;
    }
}
