[submodule "tests/modules/casperserver"]
	path = tests/modules/casperserver
	url = git@github.com:casperjs/casperserver.git

[submodule "tests/PhantomCSS"]
	path = tests/PhantomCSS
	url = git@github.com:alonisser/PhantomCSS.git
