<h3 style="color: grey;" class="gush_title" id="{{gush_id}}">
    {{#if gush_id}} {{! gush_id tells us we are in the context of a single gush, not recent plans for all}}
        גוש {{gush_id}}
    {{else}}
        עדכונים אחרונים
    {{/if}}
    <span style="float:left">
    <a href="http://{{notifier_url}}/addfeed/opentaba?city={{city_name}}&link={{base_api_url}}gush/{{gush_id}}/plans.atom" class="notifier" id="notifier_specific_link" rel="tooltip" title="התראות במייל לאזור זה" style="font-size:8px;" target="_blank">
        <i class="fa icon-bell icon-2x" aria-hidden="true"></i>
    </a>
  </span>
</h3>

{{#plans }}
    {{#ifEq ../plan_id number}}
    <div id="selected-plan">
    {{else}}
    <div>
    {{/ifEq}}
        <div class="row details">
            <div class="col-xs-12">גוש
                {{#each gushim}}
                    <a href="/#/gush/{{this}}"
                        onmouseover="color_gush({{this}}, '#00f', 0.5);"
                        onmouseout="clear_highlight(String({{this}}));"
                    >{{this}}</a>&nbsp;
                {{/each}}

            </div>
        </div>

        <div style="vertical-align:top" class="row item">
        <div class="col-xs-6 col-sm-7"><b>{{essence}}</b></div>
            <div class="col-xs-3">{{statusWithTooltipAndBG status day month year}}</div>
            <div class="col-xs-3 col-sm-2">
                <b class="plan-date-normal">{{day}}/{{month}}/{{year}}</b>
                <b class="plan-date-text">
                    <span>{{day}}</span>
                    <span>ב{{monthName month}}</span>
                    <span>{{year}}</span>
                </b>
            </div>
        </div>

        <div class="row details">
            <div class="col-xs-7">
                {{location_string}}
            </div>
            <div class="col-xs-5">
                <a href="{{details_link}}" target="_blank" rel="tooltip" title="פתח באתר ממי">
                            תוכנית {{number}}
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="font-size:0px;">
            {{! <td > }}
                {{! the font-size thing is a hack to get the links to stick close together while maintaining proper formatting here }}
                {{#each tasrit_link}}
                    <a href="{{this}}" target="_blank" rel="tooltip" title="תשריט" style="font-size:14px;"><i class="icon-globe"></i></a>
                {{/each}}
                {{#each takanon_link}}
                    <a href="{{this}}" target="_blank" rel="tooltip" title="תקנון" style="font-size:14px;"><i class="icon-file"></i></a>
                {{/each}}
                {{#each nispahim_link}}
                    <a href="{{this}}" target="_blank" rel="tooltip" title="נספחים" style="font-size:14px;"><i class="icon-folder-open"></i></a>
                {{/each}}
                {{#each files_link}}
                    <a href="{{this}}" rel="tooltip" title="קבצי ממג" style="font-size:14px;"><i class="icon-download-alt"></i></a>
                {{/each}}
                {{#if mavat_code}}
                    <a href="{{../../base_api_url}}plan/{{plan_id}}/mavat" target="_blank" rel="tooltip" title="מבא&quot;ת" style="font-size:14px;"><i class="icon-link"></i></a>
                {{/if}}
            {{! </td> }}
            </div>
        </div>
        <div class="row" style="height: 10px"><div class="col-xs-12">&nbsp;</div></div>
    </div>
{{/plans}}

<script>
    {{! activate Boostrap tooltips on attachment icons }}
    $("[rel='tooltip']").tooltip({'placement' : 'bottom'});
<{{!}}/script>
