<h3 style="color: grey;">
    {{#if gush_id}} {{! gush_id tells us we're in the context of a single gush, not recent plans for all}}
        גוש {{gush_id}}
    {{else}}
        עדכונים אחרונים
    {{/if}}
</h3>

<table>
    <tbody>
        {{#plans}}
            {{#if ../gush_id}}
            {{else}}
            <tr class="details">
                <td colspan="3">גוש 
                    {{#each gushim}}
                        <a  href="/#/gush/{{this}}" 
                            onmouseover="color_gush({{this}}, '#00f', 0.5);" 
                            onmouseout="color_gush({{this}}, '#f00', 0.5);"
                        >{{this}}</a>&nbsp;
                    {{/each}}
                </td>
            </tr>
            {{/if}}

            <tr style="vertical-align:top" class="item">
                <td><b>{{day}}/{{month}}/{{year}}</b>&nbsp;</td>
                <td>{{statusWithTooltip status}}</td>
                <td><b>{{essence}}</b></td>
            </tr>

            <tr class="details">
                <td colspan="2">
                    <a href="{{details_link}}" target="_blank" rel="tooltip" title="פתח באתר ממי">
                        תוכנית {{number}}
                    </a>
                </td>
                <td>
                    {{location_string}}
                </td>
            </tr>

            <tr>
                <td colspan="3" style="font-size:0px;">
                    {{! the font-size thing is a hack to get the links to stick close together while maintaining proper formatting here }}
                    {{#each tasrit_link}}
                        <a href="{{this}}" target="_blank" rel="tooltip" title="תשריט" style="font-size:14px;"><i class="icon-globe"></i></a>
                    {{/each}}
                    {{#each takanon_link}}
                        <a href="{{this}}" target="_blank" rel="tooltip" title="תקנון" style="font-size:14px;"><i class="icon-file"></i></a>
                    {{/each}}
                    {{#each nispahim_link}}
                        <a href="{{this}}" target="_blank" rel="tooltip" title="נספחים" style="font-size:14px;"><i class="icon-folder-open"></i></a>
                    {{/each}}
                    {{#each files_link}}
                        <a href="http://mmi.gov.il{{this}}" rel="tooltip" title="קבצי ממג" style="font-size:14px;"><i class="icon-download-alt"></i></a>
                    {{/each}}
                    {{#if mavat_code}}
                        <a href="{{../../base_api_url}}plan/{{plan_id}}/mavat" target="_blank" rel="tooltip" title="מבא&quot;ת" style="font-size:14px;"><i class="icon-link"></i></a>
                    {{/if}}
                </td>
            </tr>
            {{! doing this ugly bit because i can't seem to be able to pass an array }}
            {{#ifContains "פרסום ההפקדה|פרסום בעיתונות להפקדה" status}}
                <tr>
                    <td colspan="5">
                        {{progressbar day month year}}
                    </td>
                </tr>
            {{/ifContains}}
            <tr style="height: 10px"><td colspan="3">&nbsp;</td></tr>
        {{/plans}}
    </tbody>
</table>
<script>
    {{! activate Boostrap tooltips on attachment icons }}
    $("[rel='tooltip']").tooltip({'placement' : 'bottom'});
<{{!}}/script>
